body{
   background-color: #CACAAA; 
}

.container{
    display: flex;
    justify-content: space-between;
}

.teste{
    background-color: #55868C;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}